<h1>Editing Penghasilan</h1>
<div class="col-md-6 col-md-offset-3">
<div class="card">
<%= render 'form' %>
<br>
	<tr>
		<td><div class="col-md-offset-5"></td>
		<td><%= link_to 'Show', @penghasilan, class:'btn btn-primary' %></td> |
		<td><%= link_to 'Back', penghasilans_path, class:'btn btn-warning' %></td>
		</div>
	</tr>
</div>
</div>