<h1>New Agama</h1>
<div class="col-md-6 col-md-offset-3">
<div class="card">
<%= render 'form' %>
<tr>
<td><div class="col-md-offset-6"></td>
<td><%= link_to 'Back', agamas_path, class:'btn btn-primary' %></td>
</div>
</tr>
</div>
</div>