<h1>Editing Golongan Darah</h1>
<div class="col-md-6 col-md-offset-3">
<div class="card">
<%= render 'form' %>
<br>
	<tr>
		<td><div class="col-md-offset-5"></td>
			<td><%= link_to 'Show', @golongan_darah %></td> |
			<td><%= link_to 'Back', golongan_darahs_path %></td>
			</div>
	</tr>
</div>
</div>