<h1>New Golongan Darah</h1>
<div class="col-md-6 col-md-offset-3">
<div class="card">
<%= render 'form' %>
<tr>
<td><div class="col-md-offset-5"></td>
<%= link_to 'Back', golongan_darahs_path, class:'btn btn-primary' %>
</div>
</tr>
</div>
</div>